#newVer{
    z-index: 1; /* set higher z-index value */
    position: relative; /* position must be set for z-index to work */
}

#error {
    z-index: 2; /* set higher z-index value */
    position: relative; /* position must be set for z-index to work */
}