@font-face {
    font-family: "Material Icons Rounded";
    src: url('../assets/icons.ttf') format('truetype'),
    url("../assets/icons.woff2") format('woff2');
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24;
}


.mico {
    font-family: "Material Icons Rounded";
}

.center {
    z-index: 2;
    margin: auto;
    border-radius: 25%;
    width: 60%;
    height: 80%;
    border: 3px solid #c7c7c7;
    background-color: #6e6e6e;
    padding: 10px;
    position: relative;
  }